.list {
  width: 100%;
  font-size: 14px;
}

.listItemText {
  font-size: 12px;
}

.listIcon {
  font-size: 18px;
}

.redStudio,
.redKids {
  fill: red;
}

.googleP {
  margin-left: 20px;
  font-size: 8px;
}

.sidenav {
  height: 100vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
